*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
  
}
.section{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1522124624696-7ea32eb9592c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80);
    background-size: cover;
    display: flex;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__sesion{
    width: 33%;
    max-height: 65vh;
    min-width: 340px;
    min-height: 360px;
    padding: 17px;
    background-color: rgb(245, 240, 240);
    border-radius: 3%;
    border: 2px solid black;
    box-shadow: 3px 5px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.section__sesion h2{
    font-size: 2.2rem;
    margin-bottom: 7%;
    border-bottom: 3px solid rgb(133, 2, 255);
    padding-bottom: 5px;
}

.section__sesion__input{
    width: 80%;
    height: 35px;
    padding: 0px 3px 3px 3px;
    border: none;
    border-bottom: 2px solid rgb(158, 73, 236);
    background-color: rgba(245, 240, 240, 0.233);
    outline: none;
    font-size: 1.2rem;
    margin: 0px 10px 10px 10px;
    box-shadow: 0px;
    
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif; 
}
.section__sesion__a{
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(141, 2, 255);
    margin: px;
    text-decoration: none;
}
.section__sesion__a:hover{
    color: rgb(97, 0, 187);
}

#invitado{
    margin-bottom: 20px;
}

.section__sesion label{
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    font-size: .9rem;
}

.section__sesion__label__date{
    width: 80%;
    color: rgb(100, 100, 100);
    margin: 5px 0px;
}

.section__sesion p{
    margin: 10px 0px;
}
.section__sesion__button{
    background-color: blueviolet;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    padding: 5px;
    margin: 15px;
    width: 8rem;
    cursor: pointer;
    transition: background 0.8s;
    transition: transform 0.7s;
}

.section__sesion__button:hover{
    background-color: rgb(98, 0, 255);
    transform: scale(1.03);
}

.section__sesion__label{
    font-weight: lighter;
    margin: 5px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-size: 0.9rem;
}

.Modal{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-color: rgb(12, 12, 12);
    display: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    touch-action: none;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-size: 1.1rem;
    padding: 0.7rem;
    
}
.info{
    background-color: rgb(248, 248, 248);
    box-shadow: 5px 5px 2px black;
    max-width: 55%;
    max-height:100%;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    border-radius: 20px;
    border: solid 2px black;
    transition: all 1s;
}
#Terminos:target{
    display: flex;
    
}
.Modal__terminos__h1{
    font-style: oblique;
    text-align: center;
    margin-bottom: 7px;
}
.Modal__cerrar{
    color: red;
    text-decoration: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px;
    right: 0;
    margin-top: -1rem;

}

.Modal__cerrar:hover{
    transform: scale(1.1);
}



/*Prueba*/

.Ok{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: green;
    color: white;
}

.Bad{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(204, 6, 6);
    color: white; 
}